@font-face {
   font-family: "ScubaOT-Bold";
   src: url('../fonts/ScubaOT-Bold.otf');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "ScubaOT-Extrabold";
   src: url('../fonts/ScubaOT-Extrabold.otf');
   font-weight: normal;
   font-style: normal;
}